<div class="container">
	<div class="row">
		<div class="col-md-4" id="puginfodiv">
			
			<h4><% if (pug.game == 'csgo' ) { %>
						Counter-Strike: Global Offensive
					<% } %> 
			</h4>

			<p><%= pug.server %> </p>
			<p> Map: <%= pug.map %> </p>
			<p> Config: CEVO</p>		

	
		</div>
		<div class="col-md-4" id="team0div">
			<h5 style="margin-left: auto; margin-right: auto; width: 100%;"> Counter-Terrorists </h5>
			<ul class="list-group" id="ctlist">
				<% for (i = 0; i < pug.maxplayers/2; ++i) { %>
						<a href="#" class="list-group-item" id="ct<%=i%>">Open Slot</a>
				<% } %>
			</ul>
			<button type="button" class="btn btn-success" id="joinCT"> Join Counter-Terrorists </button>
		</div>
		<div class="col-md-4" id="team1div">
			<h5 style="margin-left: auto; margin-right: auto; width: 100%;"> Terrorists </h5>
			<ul class="list-group" id="tlist">
				<% for (i = 0; i < pug.maxplayers/2; ++i) { %>
						<a href="#" class="list-group-item" id="t<%= i %>">Open Slot</a>
				<% } %>
				</ul>
				<button type="button" class="btn btn-success" id="joinT">Join Terrorist</button>
		</div>
	</div>
	<div class="row">
	<div class="col-md-12">
	<h3> PUG Status </h3>
		<div class="progress">
			<div id="statusbar" class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%;" >
				Waiting for players
			</div>
		</div>
	</div>
	</div>
</div>

<div id="readymodal" class="modal fade" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Ready Up</h4>
			</div>
			<div class="modal-body">
					<button id="readybutton" type="button" class="btn btn-primary"> Ready </button>
					<div id="readybar" class="progress-bar" role="progressbar" style="width:10%">
					</div>
			</div>
		</div>
	</div>
</div>
<audio preload="auto" id="letsroll" src="/audio/Lets roll-oll.mp3">
</audio>
<script>
var pug_state = 'filling';
$("#letsroll").trigger('load');
function update_playerlist()
{
	io.socket.get("/user?pugid=<%=pug.id%>&team=ct", function(ctplayers) {
		for (i = 0; i < ctplayers.length; ++i) {
			$("#ct"+i).html(ctplayers[i].displayName);
			if (pug_state == 'connecting') {
				if (ctplayers[i].connectState == 'connected') {
					$("#ct"+i).removeClass('list-group-item-danger');
					$("#ct"+i).addClass('list-group-item-success');
				} else {
					$("#ct"+i).removeClass('list-group-item-success');
					$("#ct"+i).addClass('list-group-item-danger');
				}
			}
		}
		for (i = <%= pug.maxplayers/2 %>; i >= ctplayers.length; --i) {
			$("#ct"+i).html("Open Slot");
		}
	});
	io.socket.get("/user?pugid=<%=pug.id%>&team=t", function(tplayers) {
		for (i = 0; i < tplayers.length; ++i) {
			$("#t"+i).html(tplayers[i].displayName);
			if (pug_state == 'connecting') {
				if (tplayers[i].connectState == 'connected') {
					$("#t"+i).removeClass('list-group-item-danger');
					$("#t"+i).addClass('list-group-item-success');
				} else {
					$("#t"+i).removeClass('list-group-item-success');
					$("#t"+i).addClass('list-group-item-danger');
				}
			}
		}
		for (i = <%= pug.maxplayers/2 %>; i >= tplayers.length; --i) {
			$("#t"+i).html("Open Slot");
		}
	});
	io.socket.get("/user?pugid=<%=pug.id%>", function(users) {
		var barwidth = (users.length/<%= pug.maxplayers %>) * 100 + '%';
		$('#statusbar').width(barwidth);
		$('#statusbar').html('filling...');
	});
}
var im_ready = 0;

$("#statusbar").width('<%= pug.nplayers / pug.maxplayers * 100 %>%');
<% if (pug.state == 'filling') { %>
	$("#statusbar").html('filling...');
<% } %>

$('#readybar').hide();
$('#letsroll').hide();

$("#joinCT").click(function() {
	io.socket.post("/pug/join", {pugid: <%= pug.id %>, team: 'ct', _csrf: '<%=_csrf%>'}, function(data, jwres) {
	});
});
$("#joinT").click(function() {
	io.socket.post("/pug/join", {pugid: <%= pug.id %>, team: 't', _csrf: '<%=_csrf%>'}, function(data, jwres) {  });
});
$("#readybutton").click(function() {
	im_ready = true;
	io.socket.post("/pug/ready", {pugid: <%= pug.id %>, _csrf: '<%=_csrf%>'});
	$('#readybutton').hide();
	$('#readybar').show();
});
update_playerlist();
// Subscribe to user updates
io.socket.get("/user", function(){}); 
io.socket.on("user", function(message) {
	console.log(message);
	update_playerlist();
});
// Subscribe to updates about this pug
io.socket.get("/pug/<%= pug.id %>", function(res) {});	
io.socket.on('pug', function(message) {
	console.log(message);

	if (message.data.state) {
		pug_state = message.data.state;
	}

	if (message.data.state == 'filling') {
		im_ready = false;
		$('#readymodal').modal('hide');
		$('#readybar').hide();
		$('readybutton').show();
	}
	if (message.data.state == 'readyup') {
		if (im_ready) {
			$("#readybar").show();
			$("#readybutton").hide();
		} else {
			$("#readybar").hide();
			$("#readybutton").show();
		}
		$('#readymodal').modal('show');
		$('#statusbar').removeClass("progress-bar-warning");
		$('#statusbar').addClass("progress-bar-success");
		$('#statusbar').html('Ready Up!');
		var barwidth = (message.data.nready / <%= pug.maxplayers %>) * 100;
		console.log(barwidth);
		if (barwidth == '100') {
			$("#readymodal").modal('hide');
			document.getElementById('letsroll').play();
		}
		$("#readybar").width(barwidth + '%');
		$("#readybar").html(message.data.nready + '/ <%= pug.maxplayers %> players ready...');
	}
	if (message.data.state == 'connecting') {
		$("#readymodal").modal('hide');
		update_playerlist();
	}
}); 
// Leave pug on window close
window.onbeforeunload = function() {
	io.socket.post("/pug/leave", {pugid: <%= pug.id %>, _csrf: '<%=_csrf%>'}, function(data) { console.log(data); });
}
</script>
